<h1>Editing Pedido Responsabilidade</h1>

<% if @permissao_existente %>
    <%= render 'form', pedido_responsabilidade: @pedido_responsabilidade %>
<% else %>
    Não tem permissão para editar solicitação de responsabilidade.
<% end %>

<%= link_to 'Show', @pedido_responsabilidade %> |
<%= link_to 'Back', account_path %>
