<h1>Editando Pedido de Responsabilidade</h1>

<% if @permissao_existente %>
    <%= render 'form', pedido_responsabilidade: @pedido_responsabilidade %>
<% else %>
    Não tem permissão para editar solicitação de responsabilidade.
<% end %>

<%= link_to 'Mostrar', @pedido_responsabilidade %> |
<%= link_to 'Voltar', account_path %>
