<p id="notice"><%= notice %></p>

<h1>Novo Pedido de Responsabilidade</h1>

<% if @permissao_novo %>
    <%= render 'form', pedido_responsabilidade: @pedido_responsabilidade %>
<% else %>
    <div id="error_explanation">
        <h2> Você não tem permissão para solicitar o pedido de responsabilidade. </h2>
    </div>
<% end %>

<%= link_to 'Voltar', account_path %>
