<h1>Cadastro Admin</h1>

<% if admin_signed_in? %>
    <%= render 'form', admin: @admin %>
    <%= link_to 'Voltar', :back %>
<% else %>
    <p> Não tem permissão. </p>
    <%= link_to 'Página Principal', root_path %>
<% end %>
