<h1>Editando Serviço</h1>

<% if (admin_signed_in? || @user == @responsavel) %>
    <%= render 'form', servico: @servico %>
<% else %>
    <div id="error_explanation">
        <h2> Você não tem permissão para editar o serviço </h2>
    </div>
<% end %>


<%= link_to 'Mostrar', [@laboratorio, @servico] %> |
<%= link_to 'Página de Serviços', laboratorio_servicos_path(@laboratorio) %>
