<h1>Novo Servico</h1>

<% if (admin_signed_in? || @user == @responsavel) %>
    <%= render 'form', servico: @servico %>
<% else %>
    <div id="error_explanation">
        <h2> Você não tem permissão para criar um serviço </h2>
    </div>
<% end %>

<%= link_to 'Página de serviços', laboratorio_servicos_path(@laboratorio) %>