<h1>Editing Representante Externo</h1>

<%= render 'form', representante_externo: @representante_externo %>

<%= link_to 'Show', @representante_externo %> |
<%= link_to 'Back', representante_externos_path %>
