<h1>Editing Postagem</h1>

<% if (@user != nil) %>
    <%= render 'form', postagem: @postagem %>
<% else %>
    <div id="error_explanation">
        <h2> Deve estar logado para editar </h2>
    </div>
<% end %>

<%= link_to 'Show', @postagem %> |
<%= link_to 'Back', postagems_path %>
