<p id="notice"><%= notice %></p>
<h1>Novo Postagem</h1>

<% if (@user != nil) %>
    <%= render 'form', postagem: @postagem %>
<% else %>
    <div id="error_explanation">
        <h2> Deve estar logado para postar </h2>
    </div>
<% end %>
<%= link_to 'Voltar', postagems_path %>
