<p id="notice"><%= notice %></p>

<h1>Novo Pedido</h1>

<% if (@user != nil) %>
    <%= render 'form', pedido: @pedido %>
<% else %>
    <div id="error_explanation">
        <h2> Deve estar logado para pedir </h2>
    </div>
<% end %>

<% if (@tipo == "equipamento") %>
    <%= link_to 'Voltar', laboratorio_equipamentos_path(Laboratorio.find(@lab)) %>
<% else %>
    <%= link_to 'Voltar', laboratorio_servicos_path(Laboratorio.find(@lab)) %>
<% end %>
