<h1> Sobre Nós! </h1>
<p> Nosso objetivo com o <b>Laboratórios Compartilhados</b> foi democratizar o uso dos recursos da nossa universidade.</p>
<p> Assim, nossa plataforma trabalha para facilitar que os usuários que necessitam de serviços ou equipamentos encontrem Laboratórios
que tenham esses recursos disponíveis.</p>
<br>
<br>
<br>
<h3>Nossos Membros:</h3>
<ul><li>Gabriel Machado</li>
<li>Gabriel Lopes</li>
<li>Lucas Reis</li>
<li>Pedro Carvalhaes</li>
<li>Vinicius Benevides</li>
<li>Vitor Kiguchi</li>
</ul>

