<h1>Editando Laboratorio</h1>

<% if (admin_signed_in? || @user == @responsavel) %>
    <%= render 'form', laboratorio: @laboratorio %>
<% else %>
    <div id="error_explanation">
        <h2> Você não tem permissão para editar o laboratório </h2>
    </div>
<% end %>
<%= link_to 'Show', @laboratorio %> |
<%= link_to 'Back', laboratorios_path %>
