<h1>Novo Laboratorio</h1>

<% if (admin_signed_in?) %>
    <%= render 'form', laboratorio: @laboratorio %>
<% else %>
    <div id="error_explanation">
        <h2> Você não tem permissão para criar um laboratório </h2>
    </div>
<% end %>
<%= link_to 'Back', laboratorios_path %>
